<h1>
  Tic-Tac-Toe - <span id="word">Angular!</span>
</h1>

<table>
  <tr *ngFor="let row of game.board; let i = index" >
    <td *ngFor="let col of row; let j = index" (click)="play(i, j)" >{{ col }}</td>
  </tr>
</table>

<div class="btnPanel" >
  <!-- <img src="bigperson.png" id="humanIcon" (click)="reset()">
  <img src="Person.png" id="compIcon" (click)="reset()"> -->
    <button (click)="reset()" id="human"></button>
    <button (click)="computerFirst()" id="comp"></button>
</div>

<p *ngIf="isGameOver" class="endgame">{{ message }}</p>
